#cpo1 {color: white;
    background-color: black;
    text-align: center;
    font-style: italic;
}


#cpo3{
    margin-block-start: 998px;
    background-color:aquamarine;
    color:black ;

}

#tit1{
        font-family:cursive;
        background-color: aquamarine;
        position: relative;
        top: 800px;
      }
      


#body{
    background-color:darkkhaki;
}

#cpo2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 1100px;
position: relative;
top: -400px;} 

#i3{position: relative;
top: -200px;
max-width: 300px;}

#i5{position: relative;
    top: -400px;
margin-left: 1100px;
max-width: 100px;}

#i7{margin-left: 1100px;
max-width: 100px;
position: relative;
top:-400px;}

#i9{margin-left: 1100px;
    max-width: 100px;
    position: relative;
    top:-400px;}

#sabermas{
    margin-left: 1000px;
    background-color:  cornflowerblue;
}