#edad{
    background-color: green;
    color: white;
}

#aviso{
    background-color: green;
    color: white;
}

#sexo{
    background-color: green;
    color: white;
}
#container2{
    margin-block-start: 30px;
}

#columna {
    background-color: black;
    
}

#uno{
    background-color: black;
    
}

#dos{background-color: white;
    
}

#tres{background-color: black;
   
}
#noticias{
    background-color: green;
}

#redes{
    background-color: black;
}

#barramenu {
    background-color: black;
}
#titulo {
    background-color: black;

}

#imagenoxo{
image-rendering: auto;}

#titulofoto{
    max-width:200px;
    max-height: 150px;
}

#h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#boton { 
    border-style:dashed ;
}
